body{
    margin: 0;
 
   
}
main{

   padding-left: 300px;
   padding-right: 300px;
   height: 100vh;
  
}
.fbox_info{
    display: flex;
    justify-content: center;
    margin-bottom:0;
}
.par_1{
    display: flex;
    margin-top: 0;
    justify-content: center;

   
   
}

.par_2{
    display: flex;
    margin-top: 0;
    justify-content: center;
    
}
.par_2 li{

padding-right: 18px;
list-style: none;
 

}


.first_li{
    color: red;
}
.fourth_li{
    padding-right: 0;
}
.fifth_li{
    padding-left: -5px;
}



.nav{
    display:flex;
    justify-content:space-between;
    padding-top: 40px;
   
}
button{
    cursor:pointer;
}

.nav .b_one{
    cursor: pointer;

}
.row_1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
}
img{
    height: 200px;
    width: 200px;

}
.dis_1{
    display:flex;
  justify-content: space-between;
    font-size: x-small;
    font-weight: 900;

   
}
.row_1 button{
  



}
.dis_1span_1{
    padding-top:10px;


}
.dis_1span_2{
    padding-top:8px;

}

.dis_2{
    display: flex;
    font-size: x-small;
    font-weight: 900;

}

.dis_2span_1{
    padding-top:8px;


}
.dis_2span_2{
    padding-top:8px;

}

.dis_3{
    font-size: x-small;
    font-weight: 900;
    
}
.dis_4{
    font-size: x-small;
    font-weight: 900;
}

.row_2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.dis_5{
    font-size: x-small;
    font-weight: 900;
}

.dis_6{
    font-size: x-small;
    font-weight: 900;
}

.dis_7{
    font-size: x-small;
    font-weight: 900;
}
.dis_8{
    font-size: x-small;
    font-weight: 900;
}
.circle{
    height:30px;
    width: 30px;;
}
.heart{
    height: 12px;
    width: 12px;
}
.ellipse{

 height: 12px;
    width: 12px;

}